:root {
  font-family: monospace;
  line-height: 1.5;
  font-weight: 400;
  --bg-color: #202021;
  --color-accent: #fe04ff;
  --text-color: #000000;
  --bg-light-color: rgb(219, 217, 217);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: background-color 0.4s ease, color 0.4s ease;
}

body.light {
  background-color: white;
  color: black;
}

body.dark {
  background-color: #202021;
  color: white;
}

html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: inherit;
}

#game-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.layout {
  display: flex;
  align-items: flex-start;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

h2 {
  font-size: 3.5rem;
  padding: 2rem;
}
p {
  font-size: 1.2rem;
  padding: 1rem;
  margin-bottom: 1rem;
}
select {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}
select:hover {
  background-color: var(--bg-light-color);
}
select:focus {
  outline: none;
}
body.dark select {
  background-color: #272626;
  color: white;
}
body.light select {
  background-color: #f0f0f0;
  color: black;
}
.detail-view {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  margin: 3rem auto;
}
.platforms {
  display: flex;
  gap: 2rem;
  justify-content: center;
}
.detail-view img {
  width: 100%;
  max-height: auto;
  object-fit: fill;
  border-radius: 2rem;
}

.detail-info {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}

.meta {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 0.95rem;
}

.meta span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.back-btn {
  margin-top: 2rem;
  align-self: center;
  background: linear-gradient(to right, #6a11cb, #2575fc);
  color: white;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 0.6rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.back-btn:hover {
  background: linear-gradient(to right, #2575fc, #6a11cb);
}

.auth-form {
  max-width: 400px;
  margin: 4rem auto;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  animation: fadeIn 0.3s ease-in-out;
}

.auth-form h2 {
  text-align: center;
  font-size: 1.8rem;
}

.auth-form input {
  padding: 0.75rem;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  transition: background-color 0.5s ease-in-out;
}

.auth-form button {
  padding: 0.75rem;
  border: none;
  border-radius: 6px;
  background: linear-gradient(to right, var(--color-accent), #2575fc);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.auth-form button:hover {
  background: linear-gradient(to right, #2575fc, var(--color-accent));
  border: 1px solid black;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.spinner {
  border: 8px solid #eee;
  border-top: 8px solid var(--color-accent);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.genres {
  margin-top: 1rem;
}
/* -------------------- RESPONSIVE -------------------- */

@media (max-width: 1100px) {
  .main-content {
    padding: 1.5rem;
  }

  h2 {
    font-size: 3rem;
  }

  p,
  .description {
    font-size: 1.1rem;
  }

  .detail-info {
    font-size: 1.4rem;
  }

  .detail-info h2 {
    font-size: 2.2rem;
  }

  .detail-view {
    padding: 1.5rem;
  }

  .platforms {
    gap: 1rem;
    flex-wrap: wrap;
  }

  .auth-form {
    margin: 3rem auto;
    padding: 1.5rem;
  }
}
@media (max-width: 830px) {
  .main-content {
    width: 100%;
    padding: 1rem;
  }

  h2 {
    font-size: 2.5rem;
  }
  p {
    width: 80%;
  }

  p,
  .description {
    font-size: 1rem;
  }

  .detail-info {
    font-size: 1.2rem;
  }

  .detail-info h2 {
    font-size: 1.8rem;
  }
}
.filters {
  padding: 1rem;
}
.meta strong {
  color: var(--color-accent);
}
.meta a {
  margin-right: 10px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

.meta a i {
  margin-right: 6px;
  color: #ccc;
}
.meta a:hover {
  color: var(--color-accent);
}
.meta a:hover i {
  color: #fff;
}


@media (max-width: 768px) {
  #game-list {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }
}
