/* NAVBAR GENERAL */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem 2rem;
  height: auto;
  font-weight: bold;
}

/* LOGO */
.logo {
  width: 13rem;
  cursor: pointer;
}

/* UL */
.nav-links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  flex: 1;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* SEARCH CONTAINER ocupa más espacio */
.search-container {
  flex: 1 1 400px;
}

/* BARRA DE BÚSQUEDA */
.search-wrapper {
  position: relative;
  width: 100%;
}

.header__search__input {
  width: 100%;
  max-width: 100%;
  height: 3em;
  border-radius: 1em;
  padding: 0.5em 0.5em 0.5em 2.5em;
  background-color: #272626;
  color: white;
  border: none;
  transition: background-color 0.5s ease-in-out;
}

.header__search__input::placeholder {
  font-style: italic;
}

/* ICONO LUPA */
.search-wrapper::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 17px;
  height: 17px;
  background-image: url("/images/lupita.png");
  background-size: contain;
  background-repeat: no-repeat;
  filter: invert(1);
  pointer-events: none;
}

input:hover {
  background-color: #535151;
}

/* NAVLINK */
.navlink {
  padding: 0.4em 0.3em;
  text-decoration: none;
  color: inherit;
  transition: 0.3s ease-in-out;
}

.navlink:hover,
.navlink.active,
body.light .navlink:hover {
  text-decoration: underline;
  font-weight: bold;
}

/* LIGHT MODE */
body.light input {
  background-color: #f1f1f1;
  color: #111;
}

body.light input:hover {
  background-color: #bbbbbb;
}

body.light input::placeholder {
  color: #666;
}

body.light .search-wrapper::before {
  filter: invert(0);
}

/* DARK MODE */
body.dark input {
  background-color: #272626;
  color: white;
}

body.dark input:hover {
  background-color: #3a3a3a;
}

body.dark input::placeholder {
  color: #ccc;
}

/* -------------------- RESPONSIVE -------------------- */
@media screen and (max-width: 909px) {
  nav {
    flex-direction: column;
  }
  .logo {
    width: 17rem;
  }

  .nav-links {
    justify-content: center;
    gap: 2rem;
  }
}
/* Hamburguesa */
.hamburger-btn {
  display: none;
}

@media screen and (max-width: 909px) {
  .hamburger-btn {
    display: block;
    background: none;
    border: none;
    color: var(--primary-color);
    font-size: 2rem;
    cursor: pointer;
  }

  .sidebar-container {
    position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: #111;
  z-index: 999;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.4);
  }

  .sidebar-container.active {
    transform: translateX(0);
  }
}
