
/* NAV PRINCIPAL */
nav {
  display: flex;
  justify-content: space-between;
  height: 20vh;
  font-weight: bold;
}

ul {
  display: flex;
  font-size: 1.3rem;
  flex-direction: row;
  gap: 3em;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.navlink {
  padding: 0.4em 0.3em;
  text-decoration: none;
  color: inherit;
  transition: text-decoration 0.3s ease-in-out, color 0.3s ease-in-out;
}

.navlinkk:hover {
  text-decoration: underline;
}

body.light .navlink:hover {
  text-decoration: underline;
}

/* CLASE ACTIVA */

.navlinkk.active {
  text-decoration: underline;
  font-weight: bold;
}


/* LOGO */

.logo {
  width: 13rem;
  cursor: pointer;
}

/* INPUT DE BÚSQUEDA */

.search-wrapper {
  position: relative;
}

.header__search__input {
  width: 75em;
  height: 3em;
  border-radius: 1em;
  padding: 0.5em;
  background-color: #272626;
  color: white;
  border: none;
  padding-left: 35px;
  transition: background-color 0.5s ease-in-out;
}

input:hover {
  background-color: #535151;
}

.search-wrapper::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 17px;
  height: 17px;
  background-image: url("/images/lupita.png");
  background-size: contain;
  background-repeat: no-repeat;
  filter: invert(1);
  pointer-events: none;
}

/* MODO CLARO */

body.light input {
  background-color: #f1f1f1;
  color: #111;
}

body.light input:hover {
  background-color: rgb(187, 186, 186);
}

body.light input::placeholder {
  color: #666;
}

body.light .search-wrapper::before {
  filter: invert(0);
}

/* MODO OSCURO */

body.dark input {
  background-color: #272626;
  color: white;
}

body.dark input:hover {
  background-color: #3a3a3a;
}

body.dark input::placeholder {
  color: #ccc;
}
